@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap');
h1 {
    font-family:'Bona Nova', serif;
}


.card {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: pink;
}

.card .front {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card .visible .front {
    transform:rotateY(-180deg);
}

.card .visible .back {
    transform: rotateY(0);
}

.container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    justify-content: center;
    margin: 50px;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.front > img {
    height:  120px;
    width: 120px;
}

.back > img {
    height: 120px;
    width: 120px;
}

.card:hover {
    box-sizing: border-box;
    box-shadow:inset 0px 0px 0px 2px blueviolet;
}

html {
    min-height: 80vh;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: blueviolet;
}

.page-title {
    text-align: center;
    color: pink;
    font-size: 4em;
}

.info {
    color: pink;
    font-size: 2em;
    float:initial;
}