@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap');

h1 {
    font-family:'Bona Nova', serif;
}

/* this will style the card */

.card {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: pink;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
}

/* there I will style the front of the card */

 .front {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    width: 120px;
    height: 120px;
    background: no-repeat center/cover;
    }

/* back of the card */

.back {
    background: no-repeat center/cover;
    /* transform: rotateY(-180deg); */
}

.card:hover{
    cursor: pointer;
}

.card .front{
   /* transform:rotateY(180deg); */
}

.card .back {
    transform: rotateY(0);
}



.hidden {
    display: none;
}

/* style the container */

.container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    justify-content: center;
    margin: 50px;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

/* there I will style the img to get the right dimension to fit inside the card */

.front > img ,.back > img{
    height:  120px;
    width: 120px;
}

.card:hover {
    box-sizing: border-box;
    box-shadow:inset 0px 0px 0px 2px blueviolet;
}

html {
    min-height: 80vh;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color:  blueviolet;
}

/* style the page-title */

.page-title {
    text-align: center;
    color: pink;
    font-size: 4em;
}

.info {
    color: pink;
    font-size: 2em;
    float:initial;
}